*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	/*font-family: 'Permanent Marker', cursive;*/
}


html,body{
	height: 100%;
	/*width: 100%;
	min-width: 1280px;*/
}

.clear{
	clear: both;
}

.scroll::-webkit-scrollbar{
	width: 12px;
}

.scroll::-webkit-scrollbar-track{
	 background: #f1f1f1; 
	 width: 3px;
	 box-shadow: inset 0 0 5px grey; 
 	 border-radius: 10px;
 	 margin: 0 3px;
}

.scroll::-webkit-scrollbar-thumb{
	background-color: #9c9898;
	border-radius: 30px;
}


.center{
	max-width: 1280px;
	width:100%;
	margin: 0 auto;
}

header img {
	height: 100px;
	width: 170px;
	margin-top: -5px;
	margin-right: 200px;
}

header a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.3s;
}

header a:hover {
	opacity: 0.7;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffdb;
	height: 11vh;
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
	letter-spacing: 1px;
	margin-left: 25px;
	font-weight: bolder;
	font-family: 'Permanent Marker', cursive;
}

.mobile-menu {
	cursor: pointer;
	display: none;
}

.mobile-menu div {
	width: 32px;
	height: 4px;
	margin: 8px;
	background-color: black;
}

.btnL2 {
	border: 1px solid #db2323;
	background-color: #db2323;
	border-radius: 30px;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;

}

.btnL2 a {
	color: white;
}

.btnL3 {
	border: 2px solid #db2323;
	background-color: #ffffcc;
	border-radius: 30px;
	margin-left: -15px;
	padding: 5px 10px;
	color: #db2323;
	text-decoration: none;
	font-weight: bold;

}

.btnL3 a {
	color: #c11d1f;
}


.header-membro{
	height: 217px;
	width: 100%;
	background-color: #db2323 ;
}


.stiky{
	position:sticky ;
	top: 0px;
}


.scroll{
	width: 20%;
	max-height: 696px;
	background-color: #333;
	float: left;
	padding:18px 2%;
	overflow-y: scroll;
}


.box{
	width: 100%;
	margin-bottom: 25px;
	border-top: 1px solid white;


}

.box h2{
	color: white;
	text-align: center;
	font-size: 22px;
}

.box img{
	bottom:-45px ;
	left: -8px;
	position: relative;
}

.Imagemp img{
	width: 19px;
	height: 19px;
	bottom:-31px ;
	left: -8px;
	position: relative;
}

.box a {
	text-decoration: none;
	color: white;	
	padding: 5px 5px 5px 30px;
	font-size: 16px;
	display: block;
}

.box a:hover{
	opacity: 0.5;
}

.Cprincipal{
	background-color: #ffffcc;
	width: 80%;
	height: 900px;
	float: right;
}


.Titulo-Principal{
	margin-bottom:30px ;
}

.Titulo-Principal h2{
	margin: 30px ;
	text-align: center;
	color: #db2323;
	font-size: 26px;
	font-family: 'Permanent Marker', cursive;
}

.Titulo-Principal p{
	
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

.Titulo-Principal span{
	
	color:#fa2d2f;
	font-family: 'Permanent Marker', cursive;
}

.Cprincipal video{
	margin: 30px auto;
	display: block;
	width: 80%;
}

.A-centro{
	width: 80%;
	margin: 0 auto;
}

.A-centro a{
	text-align: center;
	text-decoration: none;
	font-family: 'Permanent Marker', cursive;
	background-color: #db2323;
	width: 280px;
	height: 44px;
	border-radius: 40px;
	color: white;
	padding: 10px 0;
	margin: 20px 0;
}

.B-centro{
	width: 80%;
	margin: 0 auto;	
}

.B-centro h2{
	font-weight:normal ;
	font-size: 27px;
}


.B-centro a{
	display: block;

	margin: 10px 0;
}




/*******RESPONSIVO**********/

/*******RESPONSIVO**********/

@media (max-width: 850px) {
	body {
		overflow-x: hidden;
	}

	.nav-list {
		position: absolute;
		top: 11vh;
		right: 0;
		width: 50vw;
		height: 92vh;
		background-color: #db2323;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
		box-shadow: inset 0px 0px 7px 0px;
	}

	.nav-list li {
		margin-left: 0;
		opacity: 0;
	}

	header a {
		color: white;
	}

	.btnL3 {
		background-color: #db2323;
		color: white;
	}

	.mobile-menu {
		display: block;
	}

	.nav-list.active {
		transform: translateX(0);
	}
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.mobile-menu.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
	opacity: 0;
}

.mobile-menu.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
}

/*responsividade do Menu*/